@import url('https://fonts.googleapis.com/css?family=Pacifico|Lato:300');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');
html, body {
    width: 100%;
    height: 100%;
    padding:0;
}
p {
    margin-bottom: 0;
}
    
.wrapper {
    width: 100%;
    margin-right:30px;
}
.banner {
    width: 100%;
    height: 150px;
    margin: 0;
    background: -webkit-linear-gradient(#622525, #775858);
}
.banner h1 {
    width: 100%;
    padding-top: 15px;
    font-family: Pacifico, sans-serif;
    font-size: 6vw;
    color: white;
    text-align: center;
    /* vertical-align: middle; */
}
.top-banner {
    width:100%;
    
    
}
#back-image {
    background-image: url(images/ingredients.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
.info {
    width: 100%;
}
.card {
    width: 18rem;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    background-color: #775858;
}
.card-img-top {
    margin-left: auto;
    margin-right: auto;
}
.text {
    font-size: 30px;
}

.btn-primary {
    background-color: #622525;
    border: none;
}
 .btn{
     width: 100%;
     color: white;
     background-color: #622525;
}
.lgautohide {
    display: none;
}

.dropdown-menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background:-webkit-linear-gradient(#9b6f6f, #d4cbcb)
}
.dropdown-menu a {
    text-align: center;
    color: black;
}
.dropdown-item {
    color: white;
}
.black{
    color: black;
}
.info h2 {
    background-color: #62252599; 
    margin-bottom: 0;
    color: white;
    text-align: center;
    padding: 30px 30px 20px;
    font-family: 'Shippori Mincho', sans-serif;
    font-size: 3vw;
    line-height: 44px;

    
}
.info p {
    background-color: #62252599;
    color: white;
    padding: 0px 30px 20px;
    text-align: center;
    font-family:'Shippori Mincho', sans-serif;
    font-size: 25px;
    line-height: 36px;
}
.one-off {
    font-family: Pacifico, sans serif;
    font-size:36px;
    line-height: 50px;
}
.info a {
    font-family: Pacifico, sans-serif;
    color: white;
    line-height: 50px;
    font-size:50px;
}

ingredients {
    width: 100%;
}
img {
    max-width: 50%;
    max-height: 50%;
    
} 

.images {    
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
article ul {
    background-color: rgb(36, 34, 34);
    margin-left: 50px;
    margin-right: 50px;
}
.u-list {
    margin-top: 20px;
    color: white;
    text-align: center;
}
.u-list ul {
    padding-top:10px;
    padding-bottom: 10px;
}
.u-list li {
    font-family: 'Shippori Mincho', sans-serif;
    line-height: 30px;
    padding-right: 30px; 
    list-style-type: none;
}
article ol {
    background-color: rgb(36, 34, 34);
    margin-left: 50px;
    margin-right: 50px;
}
.o-list {
    color: white;
    text-align: center;
    list-style-position: inside;
}
.o-list ol {
    padding-top: 10px;
    padding-bottom: 10px;
}
.o-list i {
    padding-right: 20px;
    color: white;
}
.o-list li {
    font-family: 'Shippori Mincho', sans-serif;
    padding-right: 30px;
}
    
    
    /*THIS IS THE FOOTER AREA STYLING*/

footer {
    clear: both;
    background: -webkit-linear-gradient(#8f7b7b,#622525);
    height: 60px;
    width: 100%;
    position: relative;
}
i {
    font-size: 30px;
}
/* i {
    color: white;
    margin: 10px;
    align-items: center;
} */
nav a {
    font-size: 30px;
    margin:20px;
    color: white;
}
  nav {
    text-align: center;
    padding-top:10px;
      
      /* color: white; */
  }



/*END OF FOOTER AREA STYLING*/



@media screen and (max-width:1410px) {
.banner {
    height: 125px;
}
.autohide {
    display:none;
}
.lgautohide {
    display:block;
}
.images {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

 .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
article ul {
    margin-left: 50px;
    margin-right: 50px;
}
article ol {
    margin-left: 50px;
    margin-right: 50px;
}

}
@media screen and (max-width:768px) {

.banner {
    height:100px;
}
.banner h1 {
    font-size: 45px;
    padding-top: 20px;
}
.info h2 {
    font-size: 25px;
    line-height: 30px;
}
nav a {
    font-size: 40px;
}
nav {
    padding: 0;
}
.one-off {
    font-size: 45px;
}
article ul {
    margin-left: 50px;
    margin-right: 50px;
}
article ol {
    margin-left: 50px;
    margin-right: 50px;
}
}

@media screen and (max-width:560px) {

.banner {
    height: 100px;
    width: 100%;
}
.banner h1 {
    font-size: 45px;
    padding-top: 20px;
} 
.autohide {
    display:none;
}
.lgautohide{
    display:block;
}
/* .btn {
    color: red;
} */
.images {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
 .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.info h2 {
    font-size: 25px;
    line-height: 30px;
}

.info img {
    max-width: 90%;
}

.info p {
    font-size: 20px;
    line-height: 24px;
}
.info a {
    font-size: 35px;
}
.one-off {
    font-size:30px;
    line-height: 40px;
}
article ul {
    margin-left: 10px;
    margin-right: 10px;
}

article ol {
    margin-left: 10px;
    margin-right: 10px;
}
nav{
    padding: 0;
}
nav a {
    font-size: 30px;
}


}

