@import url('https://fonts.googleapis.com/css?family=Pacifico|Lato:300');
html, body {
    width: 100%;
    height: 100%;
    padding:0;
    }
    
.wrapper {
    width: 100%;
    /* margin-left:30px; */
    margin-right:30px;
}
.banner {
    /* display: block; */
    width: 100%;
    height: 150px;
    background: -webkit-linear-gradient(#622525, white);
   
    
}
.banner h1 {
    width: 100%;
    font-family: Pacifico, sans-serif;
    font-size: 80px;
    text-align: center;
    vertical-align: middle;
}
.top-banner {
    width:100%;
    
}
#back-image {
    background-image: url(images/ingredients.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
     /* .text-back {
        background-color: #62252534;
    }  */

.info {
    width: 100%;
}
.info h2 {
    background-color: #62252599; 
    color: white;
    text-align: center;
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    line-height: 44px;
    border-bottom: 3px solid black;
}
.info p {
    background-color: #62252599;
    color: white;
    padding: 0px 30px 20px;
    text-align: center;
    font-family: arial;
    font-size: 32px;
    line-height: 36px;
}
.one-off {
    font-family: Pacifico, sans serif;
    font-size:36px;
    line-height: 50px;
}
a {
    font-family: Pacifico, sans-serif;
    color:black;
    font-size:55px;
}
ingredients {
    width: 100%;
}
img {
    width:50%;
}
.images {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
article ul {
    background-color: rgb(36, 34, 34);
    margin-left: 300px;
    margin-right: 300px;
}
.u-list {
    color: white;
    text-align: center;
    list-style-position: inside;
}
article ol {
    background-color: rgb(36, 34, 34);
    margin-left: 300px;
    margin-right: 300px;
}
.o-list {
    color: white;
    text-align: center;
    list-style-position: inside;
}
    
    
    /*THIS IS THE FOOTER AREA STYLING*/

footer {
    clear: both;
    background: black;
    height: 60px;
    width: 100%;
    /* margin-left: 10px; */
    margin-right: 10px;
    position: relative;
}
i {
    color: #a74545;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 10px;
}
nav a {
    font-size: 40px;
    color: white;
}
  nav {
      text-align: center;
      color: white;
  }



/*END OF FOOTER AREA STYLING*/

@media screen and (max-width:768px) {

    .banner h1 {
        font-size: 40px;
        padding-top: 25px;
}
    .info h2 {
        font-size: 25px;
    line-height: 22px;
}
    .info p {
        font-size: 16px;
        line-height: 24px;
}
    article ul {
    margin-left: 10px;
    margin-right: 10px;
}
    article ol {
    margin-left: 10px;
    margin-right: 10px;
}
nav a {
    font-size: 20px;
    vertical-align: middle;
}


}

